.form_section
  background-color: $gray

.form_section_wrapper
  display: flex
  flex-direction: column
  align-items: center
  padding: $padding_medium 0 $padding_medium 0

.form_section_content
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  h3
    font-family: Montserrat-Medium, sans-serif
    font-size: $fz_medium
    margin: 0
  p
    font-family: NunitoSans-Regular, sans-serif
    color: $gray_2
    max-width: 500px

.form_wrapper
  display: flex
  flex-direction: column
  align-items: center

.form_items
  width: 100%
  input, textarea
    outline: none
    border: 0px #FFFFFF
    padding: 10px
    font-family: NunitoSans-Regular, sans-serif

.form_items_top
  display: flex
  flex-wrap: wrap
  width: 50%
  margin-bottom: 20px
  .form_item_1,.form_item_2
    width: 45%
    input
      width: 100%
    &:not(:last-child)
      margin-right: 10%

.form_items_middle
  width: 50%
  margin-bottom: 20px
  input
    width: 100%

.form_items_bottom
  width: 50%
  margin-bottom: 20px
  textarea
    resize: none
    width: 100%

@media (max-width: 750px)
  .form_items_top,.form_items_middle,.form_items_bottom
    width: 100%

.top_section_button
  display: flex
  justify-content: center
  align-items: center
  text-decoration: none
  color: $white
  font-family: Montserrat-Medium, sans-serif
  width: 180px
  height: 55px
  background-color: $blue
  transition: all .3s

.top_section_button
  &:hover
    box-shadow: 0px 0px 5px -2px #000000