doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header
        div.about_top_section
            div.container
                div.about_top_section_wrapper
                    h1 Amelia Woods
                    p I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.
        include ../includes/modules/_advantages
        div.about_middle_section
            div.container
                div.about_middle_section_wrapper
                    h3 About Me
                    p Given let waters air sea had you'll, may seed abundantly fish. Were, you'll earth forth winged above brought. Own darkness they're him can't fourth sea place have.
                    p So the above May stars cattle fruitful face shall. Tree it, winged. Every signs male firmament us. Morning him.
                    img(src="img/about_section__1.png")
        div.about_bottom_section
            div.container
                div.about_bottom_section_wrapper
                    h2 Need a Project?
                    p Let us know what you're looking for in an agency. We'll take a look and see if this could be the start of something beautiful.
                    a.top_section_button(href="#") LET`S TALK
        include ../includes/_footer
        include ../includes/_scripts