doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header
        include ../includes/index/_form_section
        div.contact_section
            iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10203.7355083666!2d28.66816814108886!3d50.25581924533721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1556914457974!5m2!1sru!2sua" width="600" height="450" frameborder="0" style="0" allowfullscreen)
        include ../includes/_footer
        include ../includes/_scripts