doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header

        include ../includes/modules/_gallery
        include ../includes/_footer
        include ../includes/_scripts