doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header
        div.home_section_top
            div.container
                div.home_section_wrapper
                    h1 UI/UX & Graphic Design
                    p I am a Graphic & Web Designer based in New York, specializing in User Interface Design and Development.
        include ../includes/modules/_gallery
        include ../includes/_footer
        include ../includes/_scripts