doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header
        include ../includes/index/_top_section
        include ../includes/index/_about_section
        include ../includes/index/_skills_section
        include ../includes/modules/_advantages
        include ../includes/modules/_gallery
        include ../includes/index/_process_section
        include ../includes/index/_category_section
        include ../includes/index/_testimonials_section
        include ../includes/index/_brands_section
        include ../includes/index/_form_section
        include ../includes/_footer
        include ../includes/_scripts
