doctype html
html(lang="ru")
    include ../includes/_head
    body
        include ../includes/_header
        div.project_section
            div.container
                div.project_section_wrapper
                    h1 Light Breakfast
                    p Light his can't a creeping. Be, bring blessed night. Replenish blessed creature good. Saw earth every creepeth lights day, divided abundantly form. In. Said given lights. Sixth the male. Upon their multiply. Kind beast. Him tree upon.
                    p Cattle. Dominion day herb she'd creeping divide darkness. Which. Subdue had.
                    h4 Client:
                        span  Emma Moris
                    h4 Date:
                        span  25.06.2017
                    h4 Share:
                        span  Facebook, Twitter, Pinterest
        div.project_section_nav
            div.project_section_nav_wrapper
                a(href='')
                    span < PREVIOUS PROJECT
                img(src='img/project_single_img_1.png')
                a(href='')
                    span NEXT PROJECT >
        include ../includes/_footer
        include ../includes/_scripts