div.footer_section
    div.container
        div.footer_section_wrapper
            div.footer_left
                h3 Piroll Design, Inc.
                p &copy 2017 Piroll. All rights reserved. Designed by unnamed.
            div.footer_middle
                a(href="#") hello@piroltheme.com
                a(href="tel:+380676789889") +380676789889
            div.footer_right
                ul
                    li
                        a(href="#") Projects
                    li
                        a(href="#") About
                    li
                        a(href="#") Services
                    li
                        a(href="#") Career
                ul
                    li
                        a(href="#") News
                    li
                        a(href="#") Events
                    li
                        a(href="#") Contact
                    li
                        a(href="#") Legal
                ul
                    li
                        a(href="#") Facebook
                    li
                        a(href="#") Twitter
                    li
                        a(href="#") Instagram
                    li
                        a(href="#") Dribbble