div.header_fixed
    div.container
        div.header_wrapper
            div.header_logo
                a(href="index.html")
                    img(src='img/logo.png')
            nav.header_menu
                a.navigation_burger(href='#')
                    span
                ul.header_menu__content
                    li.header_menu__item
                        a(href='home.html') HOME
                    li.header_menu__item
                        a(href='#') ABOUT
                    li.header_menu__item
                        a(href='#') WORK
                    li.header_menu__item
                        a(href='#') PROCESS
                    li.header_menu__item
                        a(href='#') SERVICES
                    li.header_menu__item
                        a(href='#') TESTIMONIALS
                    li.header_menu__item
                        a(href='#') CONTACT