div.advantages_section
    div.container
        div.advantages_section_wrapper
            div.advantages_content
                img(src="img/advantages_img_1.png")
                div.advantages_items
                    h3 548
                    p PROJECTS COMPLETED
            div.advantages_content
                img(src="img/advantages_img_2.png")
                div.advantages_items
                    h3 1465
                    p WORKING HOURS
            div.advantages_content
                img(src="img/advantages_img_3.png")
                div.advantages_items
                    h3 612
                    p POSITIVE FEEDBACKS
            div.advantages_content
                img(src="img/advantages_img_4.png")
                div.advantages_items
                    h3 735
                    p HAPPY CLIENTS