div.gallery_section
    div.gallery_section_wrapper
        div.gallery_items
            img(src="img/gallery_img_1.png")
        div.gallery_items
            img(src="img/gallery_img_2.png")
        div.gallery_items
            img(src="img/gallery_img_1.png")
        div.gallery_items
            img(src="img/gallery_img_2.png")
        div.gallery_items
            img(src="img/gallery_img_2.png")
        div.gallery_items
            img(src="img/gallery_img_1.png")
        div.gallery_items
            img(src="img/gallery_img_2.png")
        div.gallery_items
            img(src="img/gallery_img_1.png")
    div.gallery_button
        a(href="#") LOAD MORE WORKS