*,:before,:after
  box-sizing: border-box

body
  background-color: #FFFFFF

p
  line-height: 1.65

.container
  width: 100%
  max-width: 1124px
  margin: 0 auto
  padding-left: 15px
  padding-right: 15px

.wrapper_colums
  display: flex
  flex-wrap: wrap
  justify-content: center

.colums_50
  flex: 1 1 50%
  min-width: 290px