div.about_section
    div.container
        div.about_section_wrapper
            h2 About Us
            p Divide have don't man wherein air fourth. Own itself make have night won't make. A you under Seed appear which good give. Own give air without fowl moveth dry first heaven fruit, dominion she'd won't very all.
            img(src="img/about_section__1.png")
