div.brands_section
    div.container
        div.brands_section_wrapper
            div.brands_items
                img(src="img/brands_img_1.png")
            div.brands_items
                img(src="img/brands_img_2.png")
            div.brands_items
                img(src="img/brands_img_3.png")
            div.brands_items
                img(src="img/brands_img_4.png")
            div.brands_items
                img(src="img/brands_img_1.png")