div.category_section
    div.container
        div.category_section_wrapper
            div.category_items
                img(src="img/category_img_1.png")
                h4 UI / UX DESIGN
                p Be set fourth land god darkness make it wherein own
            div.category_items
                img(src="img/category_img_2.png")
                h4 WEB DEVELOPMENT
                p A she'd them bring void moving third she'd kind fill
            div.category_items
                img.category_logo(src="img/category_img_3.png")
                h4 APP / MOBILE
                p Dominion man second spirit he, earth they're creeping
            div.category_items
                img(src="img/category_img_4.png")
                h4 GAME DESIGN
                p Morning his saying moveth it multiply appear life be
            div.category_items
                img(src="img/category_img_5.png")
                h4 SEO / MARKETING
                p Give won't after land fill creeping meat you, may
            div.category_items
                img(src="img/category_img_6.png")
                h4 PHOTOGRAPHY
                p Creepeth one seas cattle grass give moving saw give
            div.category_items
                img(src="img/category_img_7.png")
                h4 GRAPHIC DESIGN
                p Open, great whales air rule for, fourth life whales
            div.category_items
                img(src="img/category_img_8.png")
                h4 ILLUSTRATIONS
                p Whales likeness hath, man kind for them air two won't