div.skills_section
    div.container
        div.skills_section_wrapper
            h3 Professional Skills
            p UI/UX DESIGN 75%
            div.line.line1
            p WEB DEVELOPMENT 90%
            div.line.line2
            p MARKETING 65%
            div.line.line3
