div.testimonials_section
    div.container
        div.testimonials_section_wrapper
            div.testimonials_slider.owl-carousel.owl-theme
                div.testimonials_content
                    “Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                    span MICHAEL HOPKINS
                div.testimonials_content
                    “Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                    span MICHAEL HOPKINS
                div.testimonials_content
                    “Outstanding job and exceeded all expectations. It was a pleasure to work with them on a sizable first project and am looking forward to start the next one asap.”
                    span MICHAEL HOPKINS